name: Code Scan with Cortex

on:
  push:
    branches:
      - branch
  workflow_dispatch:

env:
  AWS_REGION: ap-northeast-2
  CORTEX_API_KEY: ${{ secrets.CORTEX_API_KEY }}
  CORTEX_API_KEY_ID: ${{ secrets.CORTEX_API_KEY_ID }}
  CORTEX_API_URL: https://api-u-infra-260126-xdr.xdr.sg.paloaltonetworks.com

jobs:
  cortex-code-scan:
    name: Cortex code scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Set up Java (cortexcli 요구: Java 11 이상)"
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "11"

      - name: Install Cortex CLI dependencies (libhs.so.5)
        run: |
          sudo apt-get update
          sudo apt-get install -y libhyperscan5

      - name: Download Cortex CLI and run code scan
        id: cortex_scan
        continue-on-error: true
        run: |
          set -x
          crtx_resp=$(curl -s "${{ env.CORTEX_API_URL }}/public_api/v1/unified-cli/releases/download-link?os=linux&architecture=amd64" -H "x-xdr-auth-id: ${{ env.CORTEX_API_KEY_ID }}" -H "Authorization: ${{ env.CORTEX_API_KEY }}")
          crtx_url=$(echo $crtx_resp | jq -r ".signed_url")
          crtx_file=$(echo $crtx_resp | jq -r ".file_name")
          curl -o "$crtx_file" "$crtx_url"
          chmod +x "$crtx_file"
          ./"$crtx_file" --api-base-url "${{ env.CORTEX_API_URL }}" --api-key "${{ env.CORTEX_API_KEY }}" --api-key-id "${{ env.CORTEX_API_KEY_ID }}" code scan --directory "${{ github.workspace }}" --branch branch --repo-id "${{ github.repository }}" --source "GITHUB_ACTIONS" –output-format json --output-file-path ./output.json --upload-mode no-code
         
